<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>نتایج جستجو در محصولات</title>
    <link rel="stylesheet" href="/public/css/stylesheet.css">
</head>
<body>
        <div class="main">
            <div class="header">
                نتایج جستجوی عبارت "<%= search %>"
            </div>
            <div class="members">
                <div class="member">مهرداد کرابی</div>
                <div class="member">مصطفی قدیمی</div>
                <div class="member">امیرحسن فتحی</div>
            </div>
            <div class="databases">
                <% if (query.length == 0) { %>
                    <div style="padding: 10px;">
                        متاسفانه برای عبارت "<%= search %>" نتیجه‌ای وجود ندارد
                    </div>
                <% } else {%>
                    <form>
                            <% var related = [] %>
                            <table dir="rtl" cellspacing=0>
                                <% for (var i = 0; i < query.length; i++) { %> 
                                    <% if (query[i].name == search) { %>
                    
                                    <tr>
                                        <td>نام محصول</td>
                                        <td><%= query[i].name %></td>
                                    </tr>
                                    <tr>
                                        <td>حافظه اصلی</td>
                                        <td><%= query[i].features.ram %></td>
                                    </tr>
                                    <tr>
                                        <td>رنگ</td>
                                        <td><%= query[i].features.color %></td>
                                    </tr>
                                    <tr>
                                        <td>طول</td>
                                        <td><%= query[i].features.width %></td>
                                    </tr>
                                    <tr>
                                        <td>ارتفاع</td>
                                        <td><%= query[i].features.height %></td>
                                    </tr>
                                    <tr>
                                        <td>قیمت</td>
                                        <td><%= query[i].price %></td>
                                    </tr>
                                    <% } else { %> 
                                        <% related.push(query[i]) %>
                                    <% } %>
                                <% }}    %>
                            </table>
                        </form>
            </div>
        </div>
</body>
</html>