<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>نتایج جستجو در محصولات</title>
    <link rel="stylesheet" href="/public/css/stylesheet.css">
</head>
<body>
        <div class="main">
            <div class="header">
                نتایج جستجوی عبارت "<%= search %>"
            </div>
            <div class="members">
                <div class="member">مهرداد کرابی</div>
                <div class="member">مصطفی قدیمی</div>
                <div class="member">امیرحسن فتحی</div>
            </div>
            <div class="results">
                <% if (query.length == 0) { %>
                    <div style="padding: 10px;">
                        متاسفانه برای عبارت "<%= search %>" نتیجه‌ای وجود ندارد
                    </div>
                <% } else {%>
                    <form>
                        <% var related = [] %>
                        <table dir="rtl" cellspacing=0>
                            <% for (var i = 0; i < query.length; i++) { %> 
                            
                                <tr>
                                    <td>نام فروشگاه</td>
                                    <td><%= query[i].name %></td>
                                </tr>
                                <tr>
                                    <td>آدرس</td>
                                    <td><%= query[i].address %></td>
                                </tr>
                                <tr>
                                    <td>توضیحات</td>
                                    <td><%= query[i].description %></td>
                                </tr>
                            
                            <% }}    %>
                        </table>
                    </form>
            </div>
        </div>
</body>
</html>